{% extends "compoments/base.html" %}
{% block content %}

<h1>Profil</h1>
<form method="POST">
  <label for="username">Nom d'utilisateur</label>
  <input id="username" name="username" type="text" value="{{ current_user.username }}">

  <label for="password">Mot de passe</label>
  <input id="password" name="password" type="password">

  <input type="submit" value="Enregistrer les modifications">

  <label for="delete">Supprimer le compte</label>
  <input id="delete" name="delete" type="checkbox">
  <input type="submit" value="Supprimer le compte">
</form>
<div class="pt-8">
  <a href="{{ url_for('dashboard') }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Dashboard</a>
  <a href="{{ url_for('home') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Accueil</a>
  <a href="{{ url_for('logout') }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Déconnexion</a>
</div>

{% endblock %}